<%- include('partials/head') %>
<%- include('partials/header') %>



<h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur doloribus nobis natus, tenetur temporibus sunt blanditiis. Neque molestiae expedita dolore aspernatur explicabo, ad illo adipisci voluptates suscipit provident reprehenderit nostrum?</h2>