<html>
<%- include('partials/head') %>
<%- include('partials/header') %>

<body>
<h1>Ejemplo de audio</h1>
<audio
        src="http://soundbible.com/grab.php?id=2217&type=mp3"
        controls
></audio>

</body>
</html>