<html>
    <%- include('partials/head') %>
    <%- include('partials/header') %>
<body>
<h1><img src="https://nextu-latam-content-production.nextu.com/content_generator_v2/general_files/2011/concert_logo.png" alt="Logo"> Tu concierto</h1>
<p>
	Bienvenido a este blog de conciertos...
</p>
<img src="https://nextu-latam-content-production.nextu.com/content_generator_v2/general_files/2011/concert.jpg" alt="Concierto" width="60%">
<p>
	<a href="mailto:info@concierto.com">Contacto</a> | <a href="http://www.youtube.com" target="_blank">YouTube</a> | <a href="/acerca_de">Acerca de</a>
</p>

</body>
</html>