<html lang="en">
  <%- include('partials/head') %>
  <%- include('partials/header') %> 
  <link rel="stylesheet" href="estructuras.css">
 
  <body>
    <main role="main">
      <div class="container">
        <ul class="list-group">
          <li class="list-group-item"><a href="/formulario">Formulario</a></li>
          <li class="list-group-item"><a href="/enlaces">Enlaces</a></li>
          <li class="list-group-item"><a href="/etiquetas">Etiquetas</a></li>
          <li class="list-group-item"><a href="/audio">Audio</a></li>
          <li class="list-group-item"><a href="/video">Video</a></li>
          <li class="list-group-item"><a href="/vuelos">vuelos</a></li>
          <li class="list-group-item"><a href="/three">Three.js</a></li>
        </ul>
      </div>
    <%- include('partials/footer') %>
    </main>
  </body>
</html>