
<html lang="en">
  <%- include('partials/head') %>
  <%- include('partials/header') %>
  <body style="background-color: indigo;">
   <h1 style="color: lightpink; margin: 3% 0 0 5%;"> Aprendiendo y aplicando HTML, CSS y JS</h1>
    <img src="https://www.rougedigital.co.uk/wp-content/uploads/2014/07/web-trifecta_html5_css3_js-strict.svg" alt="" width="40%" style="margin: 0 0 0 10%;">
  </body>
  
  <%- include('partials/footer') %>
</html>