
<!DOCTYPE html>
<html>
    <%- include('partials/head') %>
    <%- include('partials/header') %>
    <link rel="stylesheet" href="formulario.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/110/three.js"></script>

    
    <body>
        <script src="app.js"></script>
        
    </body>
</html>